Bachelorarbeit.fdb_latexmk
Bachelorarbeit.fls
Bachelorarbeit.synctex.gz
.DS_Store
Bachelorarbeit.blg
Bachelorarbeit.log
Bachelorarbeit.bbl 
Bachelorarbeit.bcf
Bachelorarbeit.run.xml
Bachelorarbeit.toc
